@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayOutAdmin.cshtml";
}

<h2 style="text-align:center">Welcome To The Lancome's Admin Page</h2>
<img src="https://i.ytimg.com/vi/en6717hdA9Q/maxresdefault.jpg" style="width:1600px;margin:auto" />
